:root{
  
  --primary-color: #2c3e50;
  --accent-color: #e67e22;
  --bg-light: #ffffff;
  --text-main: #333333;

}

body{
  font-family: sans-serif;
  background-color: var(--bg-light);
  color: var(--text-main);
}

h1, h2, h3{
  font-size: 25px;
  font-weight: bold;
  line-height: normal;
}

a {
  font-size: larger;
  font-weight: 200;
  text-decoration: none;
  color: var(--accent-color);
  transition: all 0.3s ease;
}

button{
  padding: 10px 20px;
}

a:hover{
  background-color: var(--accent-color);
  color: var(--text-main);
}

button:hover{
  background-color: var(--accent-color);
}
button:active {
  transform: scale(0.95);
  background-color: var(--primary-color);
  color: var(--bg-light);
}

input:focus{

  outline: 3px solid var(--accent-color);
}

button:focus{
  outline: 3px solid var(--accent-color);
}


article {
  width: 250px;
  border: 1px solid rgb(183, 183, 183);
  border-radius: 8px;
  background-color: var(--bg-light);
  margin: 10px;
  padding: 15px;
  vertical-align: top;
}

article:nth-child(odd) {
  background-color: var(--bg-light);
}

article:nth-child(even) {
  background-color: var(--bg-light);
}


.cart-container:empty {
  display: block;
  height: 200px;
  background: url('empty-cart-bg.png') no-repeat center;
  border: 2px dashed #bbb;
}

.price::before {
  content: "₱";
  font-weight: bold;
}


input:required {
  border: 2px solid var(--error-color);
}

input:valid {
  border: 2px solid var(--success-color);
}

table {
  width: 100%;
  border-collapse: collapse;
}

td:first-child, th:first-child {
  font-weight: bold;
  color: var(--primary-color);
}

li::marker {
  color: var(--accent-color);
  font-size: 1.2em;
}


blockquote::before {
  content: "“";
  font-size: 2em;
  color: var(--accent-color);
}

blockquote::after {
  content: "”";
  font-size: 2em;
  color: var(--accent-color);
}